<!-- 
   <div style="position: fixed; top: 0;width: 100%; z-index: 1;" >
    <nav class="navbar navbar-inverse" style="
   width: 100%;
   background: aliceblue;">

</nav>

<div class="header" >

<span id="sidemenu"  style="font-size: 30px;
cursor: pointer;
background: -webkit-linear-gradient(#31eafd, #333);
width: 45px;
float: left;
margin-left: -9px;
color: #ffffff;" title="Menu"  onclick="openNav()">&#9776; </span>
  <a href="#default" class="logo" style="background: -webkit-linear-gradient(#31eafd, #333); -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; text-transform: uppercase;margin-left: 5px;">Team Manager</a>
   <div class="header-right" >

     <a class="active" href="/dashboard">Dashboard</a>
     <a class="active" href="/device"><span>|</span> Device  </a>
     <a class="active" href="/rawData"><span>|</span> Raw Data  </a>
      <a class="active" href="/sendCommand"><span>|</span> Send Command </a>
   </div>
   <i class="fa fa-sign-out" aria-hidden="true" title="logout" (click)="ClearSession()" id='logout'></i>
 </div>
</div>
 <br> -->

 <!-- <div class="row" style="background: #3c7aa7;">
  <div class="col-md-9 d-flex">
   
    <h3 class="headerText">Team Management</h3>
  </div>
  
  <div class="col-md-3" style="padding: 0px;">
    <div class="logoutdropdown">
      <button class="btn btn-link" style="margin-top: -2px;"  >
        <i class="fa fa-sign-out" style="font-size: 20px;"></i>
      </button><div></div>
  </div>
</div>
</div> -->



<div style="position: fixed; top: 0;width: 100%; z-index: 1;" >
  <!-- <nav class="navbar navbar-inverse" style="
 width: 100%;
 background: aliceblue;">

 <img class="header_img_adjust" src="assets/images/logo/ap_logo_mineral.png" style="width: 29%;">

 <img class="header_img header_img_adjust" src="assets/images/logo/apsac_logo.png"
     style="float: right;  width: 24%;">
</nav> -->

<div class="header" >

<span id="sidemenu"  style="font-size: 30px;
cursor: pointer;
background: -webkit-linear-gradient(#53148d, #333);
width: 45px;
float: left;
margin-left: -9px;
color: #ffffff;" title="Menu"  onclick="openNav()">&#9776; </span>
<a href="#default" class="logo" style="background: -webkit-linear-gradient(#53148d, #333); -webkit-background-clip: text;
 -webkit-text-fill-color: transparent; text-transform: uppercase;margin-left: 5px;">Team Management</a>
 <div class="header-right" >

   <!-- <a class="active" href="/dashboard">Dashboard</a>
   <a class="active" href="/device"><span>|</span> Device  </a>
   <a class="active" href="/rawData"><span>|</span> Raw Data  </a>
    <a class="active" href="/sendCommand"><span>|</span> Send Command </a> -->
 </div>
 <i class="fa fa-sign-out" aria-hidden="true" title="logout" (click)="ClearSession()" id='logout'></i>
</div>
</div><br><br><br>