<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink=" " routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" routerLink="/api" routerLinkActive="active">APILogs</a>
        <a class="nav-item nav-link"   style="margin-left:1720px;"   (click)="logout()">Logout</a>
    </div>
</nav>







<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <router-outlet></router-outlet>
</div> -->

<!-- credits -->
<!-- <div valign="bottom" class="text-center mt-4">
    <p>
        <a href="" target="_top">Employee TaskMaster</a>
    </p>
    <p>
        <a href="" target="_top">TechDNA</a>
    </p>
</div> -->

<!-- <app-header></app-header> -->

<router-outlet>
    
</router-outlet>



